

<div class="row">
    <div class="col-2"></div>
    <div class="col-10">
        <div class="card-alumno">
            <div class="panel1-body">
                <table class="table table-hover table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Nombre2</th>
                            <th>Apellido</th>
                            <th>Apellido2</th>
                            <th>sexo</th>
                            <th>CURP</th>
                            <th>Matricula</th>
                            <th>Telefono</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Eliminar Actualizar</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let alumnos of listaALumnos">
                            <td>{{alumnos.idAlumno}}</td>
                            <td>{{alumnos.nombre}}</td>
                            <td>{{alumnos.nombre2}}</td>
                            <td>{{alumnos.apellido}}</td>
                            <td>{{alumnos.apellido2}}</td>
                            <td>{{alumnos.sexo}}</td>
                            <td>{{alumnos.curp}}</td>
                            <td>{{alumnos.matricula}}</td>
                            <td>{{alumnos.telefono}}</td>
                            <td>{{alumnos.emailAlumno}}</td>
                            <td>{{alumnos.estatus}}</td>
                            <td>
                                <button (click)="delete(alumnos.idAlumno)">
                                    Eliminar</button>
                                <button (click)="updateAlumno(alumnos)">Actualizar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
              
                    <div class="form-group">
                        <label for="primer-nombre">Primer nombre</label>
                        <input type="text" class="form-control" placeholder="Primer nombre" id="nombre" required [(ngModel)]="alumnos.nombre">
                    </div>
                    <div class="form-group">
                        <label for="segundo-nombre">Segundo nombre</label>
                        <input type="text" class="form-control" placeholder="Segundo nombre" id="nombre2" required [(ngModel)]="alumnos.nombre2">
                    </div>
                    <div class="form-group">
                        <label for="apellido-paterno">Apellido paterno</label>
                        <input type="text" class="form-control" placeholder="Apellido paterno" id="apellido" required [(ngModel)]="alumnos.apellido">
                    </div>
                    <div class="form-group">
                        <label for="apellido-materno">Apellido materno</label>
                        <input type="text" class="form-control" placeholder="Apellido materno" id="apellido2" required [(ngModel)]="alumnos.apellido2">
                    </div>
    
                    <div class="form-group">
                        <label for="sexo">Sexo:</label>
                        <select id="sexo" class="select-custom" [(ngModel)]="alumnos.sexo">
                            <option [value]="item" *ngFor="let item of listaSexos">{{item}}</option>
                        </select>
                    </div>
    
                    <div class="form-group">
                        <label for="curp">CURP</label>
                        <input type="text" class="form-control" placeholder="CURP" id="curp" required [(ngModel)]="alumnos.curp">
                    </div>

                    <div class="form-group">
                        <label for="semestre">Semestre</label>
                        <select id="Semestre1" class="select-custom">
                            <option [value]="item" *ngFor="let item of listaSemestres">{{item}}</option>
    
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="semestre">Grupo</label>
                        <select id="Grupo1" class="select-custom">
                            <option [value]="item" *ngFor="let item of listaGrupos">{{item}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="matricula">Matricula</label>
                        <input type="text" class="form-control" placeholder="Matricula" id="matricula" required [(ngModel)]="alumnos.matricula">
                    </div>
                    <div class="form-group">
                        <label for="telefono">Teléfono</label>
                        <input type="text" class="form-control" placeholder="Teléfono" id="telefono" required [(ngModel)]="alumnos.telefono">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" placeholder="Email" id="email" required [(ngModel)]="alumnos.emailAlumno">
                    </div>
                    <button (click)="create()" class="btn btn-primary">Guardar</button>
                    <button (click)="update2()" class="btn btn-primary">update</button>
             
            </div>
            
        </div>
    </div>

   