<p>home works!</p>
   <!-- ========================= Main ==================== -->
   <div class="main">
    <div class="topbar">
        <div class="toggle">
            <!-- <ion-icon name="menu-outline"></ion-icon> -->
        </div>



        <div class="user">
            <img src="#" alt="">
        </div>
    </div>

    <!-- ======================= Cards ================== -->
    <div class="cardBox">
        <div class="card">
            <div class="iconBx"><img class="imgPerf" src="#" alt=""></div>
            <div class="cardName">Nombre Administrador</div>
            <div class="cardName">Email Administrador</div>
        </div>

        <div class="card">
            <div>
                <div id="sexo" class="dat">Sexo</div>
                <div class="cardName">Sexo Administrador</div>

                <div id="Matricula" class="dat">Numero de trabajador</div>                       
                <div class="cardName">Numero Trabajador</div>
            </div>


        </div>




    </div>
    <div class="cardBox">   
        <div class="card">
            <div>
                <div class="numbers">4</div>
                <div class="cardName">Profesores</div>
            </div>

        </div>
        <div class="card">
            <div>
                <div class="numbers">6</div>
                <div class="cardName">Alumnos</div>
            </div>


        </div>
    </div>


</div>  <!-- Termina el main-->