<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2" style="background-color:rgb(101, 209, 255);"></div>
    <div class="col-sm-10" style="background-color:rgb(255, 255, 255);">

      <form id="formulario_agregar_administrador">
        <div class="form-group">
            <label for="primer-nombre">Primer nombre</label>
            <input type="text" name="primerNombre"class="form-control" placeholder="Primer nombre" id="primer-nombre" required [(ngModel)]="administrador.nombre1">
        </div>
        <div class="form-group">
            <label for="segundo-nombre">Segundo nombre</label>
            <input type="text" name="segundoNombre" class="form-control" placeholder="Segundo nombre" id="segundo-nombre" required [(ngModel)]="administrador.nombre2">
        </div>
        <div class="form-group">
            <label for="apellido-paterno">Apellido paterno</label>
            <input type="text" name="apellidoPaterno"class="form-control" placeholder="Apellido paterno" id="apellido-paterno" required [(ngModel)]="administrador.apellido1">
        </div>
        <div class="form-group">
            <label for="apellido-materno">Apellido materno</label>
            <input type="text" name="apellidoMaterno"class="form-control" placeholder="Apellido materno" id="apellido-materno" required [(ngModel)]="administrador.apellido2">
        </div>
        <div class="form-group">
            <label for="curp">CURP</label>
            <input type="text" name="curp" class="form-control" placeholder="CURP" id="curp" required [(ngModel)]="administrador.curp">
        </div>
        <div class="form-group">
            <label for="telefono">Teléfono</label>
            <input type="number" name="telefono" class="form-control" placeholder="Teléfono" id="telefono" required [(ngModel)]="administrador.telefono">
        </div>

        <div class="form-group">
            <label for="matricula">Numero trabajador</label>
            <input type="number"  name="numeroTrabajador"class="form-control" placeholder="Numero trabajador" id="matricula" required [(ngModel)]="administrador.numeroTrabajador">
        </div>

        <div class="form-group">
            <label for="sexo">Fecha de nacimiento</label>
            <input type="date" name="fecha" class="form-control" id="fecha" required [(ngModel)]="administrador.fechaNacimiento">
        </div>


        <div class="form-group">
            <label for="sexo">Sexo</label>
            <select name="sexo" required [(ngModel)]="administrador.sexo">
                <option [value]="item" *ngFor="let item of listaSexos">{{item}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email"class="form-control" placeholder="Email" id="email" required [(ngModel)]="administrador.emailAdmin">
        </div>

        <button name="btn1" (click)="createAdministrador()" class="btn btn-primary" >Guardar</button>
        <button name="btn2" (click)="update2Administrador()" class="btn btn-primary" >Update

         
        </button>
    </form>
    
    
      <!-- <div>
        <form>
          <div class="mb-3">
            <label for="" class="form-label">Primer Nombre</label>
            <input type="" class="form-control" id="" aria-describedby="">
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Segundo Nombre</label>
            <input type="" class="form-control" id="" aria-describedby="">
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Apellido Paterno</label>
            <input type="" class="form-control" id="" aria-describedby="">
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Apellido Materno</label>
            <input type="" class="form-control" id="" aria-describedby="">
          </div>
          <div class="mb-3">
            <label for="" class="form-label">CURP</label>
            <input type="" class="form-control" id="" aria-describedby="">
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Telefono</label>
            <input type="" class="form-control" id="" aria-describedby="">
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Numero de trabajador</label>
            <input type="" class="form-control" id="" aria-describedby="">
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Fecha de Nacimiento</label>
            <input type="" class="form-control" id="" aria-describedby="">
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Sexo</label>
            <input type="" class="form-control" id="" aria-describedby="">
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Email</label>
            <input type="" class="form-control" id="" aria-describedby="">
          </div>
          <button type="submit" class="btn btn-primary">Crear</button>
        </form>
      </div> -->



      <div class="card-body">
        <div class="panel-body">
          <table class="table table-hover table-sm">
            <thead class="thead-light">
              <tr>
                <th>Nombre</th>
                <th>Segundo Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Curp</th>
                <th>Telefono</th>
                <th>Numero de trabajador</th>
                <th>Fecha de nacimiento</th>
                <th>Sexo</th>
                <th>Email</th>
            </thead>
            <tbody>
              <tr *ngFor="let administrador of listarTodosAdministradores">
                <td>{{administrador.nombre1}}</td>
                <td>{{administrador.nombre2}}</td>
                <td>{{administrador.apellido1}}</td>
                <td>{{administrador.apellido2}}</td>
                <td>{{administrador.curp}}</td>
                <td>{{administrador.telefono}}</td>
                <td>{{administrador.numeroTrabajador}}</td>
                <td>{{administrador.fechaNacimiento}}</td>
                <td>{{administrador.sexo}}</td>
                <td>{{administrador.emailAdmin}}</td>
                <td>
                  <button (click)="delete(administrador.idAdministrador)">Eliminar</button>
                  <button (click)="updateAdministrador(administrador)">Actualizar</button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>


      </div>


    </div>
  </div>
</div>