
    .container-fluid {
        padding: 0;
      }
      
      .row {
        margin-right: 0;
        margin-left: 0;
      }
      
      .sidebar {
        background-color: rgb(25, 97, 128);
        height: 100vh;
        padding: 20px;
      }
      .span{
        color: aliceblue;
      }

      
      
      .main-content {
        background-color: rgb(255, 255, 255);
        padding: 20px;
      }
      
      .dashboard-form {
        margin-bottom: 20px;
      }
      
      .table {
        margin-bottom: 0;
      }
      
      .table th,
      .table td {
        vertical-align: middle;
      }
      
      .card-body {
        padding-top: 0;
      }
      

      .oculto {
        display: none;
      }
      
      .cardi {
        display: none;
        width: 300px;
        padding: 20px;
        background-color: #f2f2f2;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      }
  
      .show {
        display: block;
      }