
<!--  Autores: Carlos Aurelio Alcantara Perez
Fecha de creacion: 14/06/23
 Fecha de modificacion: 15/06/23 
 Comentarios: Paguina principal -->

  <!-- =============== Navigation ================ -->
  <div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon">
                        <div>
                            <img src="#" alt="">
                        </div>
                    </span>
                    <span class="title"></span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                     
                    </span>
                    <span class="title">Home</span>
                </a>
            </li>

            <li>
                <a href="administradores">
                    <span class="icon">
                      
                    </span>
                    <span class="title">Administradores</span>
                </a>
            </li>

            <li>
                <a href="catedraticos">
                    <span class="icon">

                    </span>
                    <span class="title">Profesores</span>
                </a>
            </li>

            <li>
                <a href="alumnos">
                    <span class="icon">

                    </span>
                    <span class="title">Alumnos</span>
                </a>
            </li>


            <li>
                <a href="#">
                    <span class="icon">
                        
                    </span>
                    <span class="title">Salir</span>
                </a>
            </li>
        </ul>
    </div>

 

</div>



<router-outlet></router-outlet>
