  <!-- =============== Navigation ================ -->
  <div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon">
                        <div>
                            <img src="#" alt="">
                        </div>
                    </span>
                    <span class="title"></span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <!-- <ion-icon name="home-outline"></ion-icon> -->
                    </span>
                    <span class="title">Home</span>
                </a>
            </li>

            <li>
                <a href="administradores">
                    <span class="icon">
                        <!-- <ion-icon name="people-outline"></ion-icon> -->
                    </span>
                    <span class="title">Administradores</span>
                </a>
            </li>

            <li>
                <a href="catedraticos">
                    <span class="icon">
                        <!-- <ion-icon name="people-outline"></ion-icon> -->
                    </span>
                    <span class="title">Profesores</span>
                </a>
            </li>

            <li>
                <a href="alumnos">
                    <span class="icon">
                        <!-- <ion-icon name="people-outline"></ion-icon> -->
                    </span>
                    <span class="title">Alumnos</span>
                </a>
            </li>


            <li>
                <a href="#">
                    <span class="icon">
                        <!-- <ion-icon name="log-out-outline"></ion-icon> -->
                    </span>
                    <span class="title">Salir</span>
                </a>
            </li>
        </ul>
    </div>

 

</div>



<router-outlet></router-outlet>
